
week_3_notebooks/data/tl_2022_06_tract/tl_2022_06_tract.cpg
Midterm/data/tl_2022_06_tract/tl_2022_06_tract.shx
week_3_notebooks/data/tl_2022_06_tract/tl_2022_06_tract.dbf
week_3_notebooks/data/tl_2022_06_tract/tl_2022_06_tract.prj
week_3_notebooks/data/tl_2022_06_tract/tl_2022_06_tract.shp
week_3_notebooks/data/tl_2022_06_tract/tl_2022_06_tract.shp.ea.iso.xml
week_3_notebooks/data/tl_2022_06_tract/tl_2022_06_tract.shp.iso.xml
week_3_notebooks/data/tl_2022_06_tract/tl_2022_06_tract.shx
*.tiff
Midterm/data/NLCD/NLCD_2001_2019_change_index_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Midterm/data/NLCD/nlcd_2001_2019_change_index_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Midterm/data/NLCD/NLCD_2001_Land_Cover_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Midterm/data/NLCD/nlcd_2001_land_cover_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Midterm/data/NLCD/NLCD_2004_Land_Cover_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Midterm/data/NLCD/nlcd_2004_land_cover_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Midterm/data/NLCD/NLCD_2006_Land_Cover_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Midterm/data/NLCD/nlcd_2006_land_cover_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Midterm/data/NLCD/NLCD_2008_Land_Cover_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Midterm/data/NLCD/nlcd_2008_land_cover_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Midterm/data/NLCD/NLCD_2011_Land_Cover_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Midterm/data/NLCD/nlcd_2011_land_cover_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Midterm/data/NLCD/NLCD_2013_Land_Cover_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Midterm/data/NLCD/nlcd_2013_land_cover_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Midterm/data/NLCD/NLCD_2016_Land_Cover_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Midterm/data/NLCD/nlcd_2016_land_cover_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Midterm/data/NLCD/NLCD_2019_Land_Cover_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Midterm/data/NLCD/nlcd_2019_land_cover_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Midterm/data/tl_2022_06_tract/tl_2022_06_tract.cpg
Midterm/data/tl_2022_06_tract/tl_2022_06_tract.dbf
Midterm/data/tl_2022_06_tract/tl_2022_06_tract.prj
Midterm/data/tl_2022_06_tract/tl_2022_06_tract.shp
Midterm/data/tl_2022_06_tract/tl_2022_06_tract.shp.ea.iso.xml
Midterm/data/tl_2022_06_tract/tl_2022_06_tract.shp.iso.xml
Week_4/data/NLCD/NLCD_2001_2019_change_index_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Week_4/data/NLCD/nlcd_2001_2019_change_index_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Week_4/data/NLCD/NLCD_2001_Land_Cover_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Week_4/data/NLCD/nlcd_2001_land_cover_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Week_4/data/NLCD/NLCD_2004_Land_Cover_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Week_4/data/NLCD/nlcd_2004_land_cover_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Week_4/data/NLCD/NLCD_2006_Land_Cover_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Week_4/data/NLCD/nlcd_2006_land_cover_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Week_4/data/NLCD/NLCD_2008_Land_Cover_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Week_4/data/NLCD/nlcd_2008_land_cover_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Week_4/data/NLCD/NLCD_2011_Land_Cover_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Week_4/data/NLCD/nlcd_2011_land_cover_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Week_4/data/NLCD/NLCD_2013_Land_Cover_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Week_4/data/NLCD/nlcd_2013_land_cover_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Week_4/data/NLCD/NLCD_2016_Land_Cover_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Week_4/data/NLCD/nlcd_2016_land_cover_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
Week_4/data/NLCD/NLCD_2019_Land_Cover_L48_20210604_gyGbthZM9gweVLuKaW5e.tiff.aux.xml
Week_4/data/NLCD/nlcd_2019_land_cover_l48_20210604_gyGbthZM9gweVLuKaW5e.xml
